.gymFrame {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.gymContainer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gymBlock1 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gymTextHolder {
    width: 80%;
    height: fit-content;
}

.projectIntro {
    padding-top: 1em;
}

.projectExt {
    margin-top: 1em;
    margin-right: 1em;
    display: inline-block;
}

.linkOut:link, .linkOut:visited {
  text-decoration: none;
  color: #000000;
  cursor: none;
}

.linkOut:hover, .linkOut:active {
  text-decoration: underline;
  color: #000000;
  cursor: none;
}

.gymBlock2 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gymImgHolder {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gymBlock1 {
        width: 100%;
        height: 50%;
        align-items: flex-end;
    }
    .gymTextHolder {
        width: 80%;
        padding-bottom: 5%;
    }
    .gymBlock2 {
        width: 100%;
        height: 50%;
        align-items: flex-start;
        overflow: hidden;
    }
    .gymImgHolder {
        overflow: hidden;
        margin-top: -15%;
        min-width: 500px;
    }
}