.helloFrame {
    margin: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

@keyframes leaving {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.helloContainer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.helloBlock1 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helloTextHolder {
    width: fit-content;
    height: fit-content;
}

.helloBlock2 {
    width: 50%;
    height: 100%;
    float: left;
}

.helloViews {
    margin-top: 1em;
    margin-right: 1em;
    display: inline-block;
    transition: all .3s;
}

.helloViews:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.linkOut:link, .linkOut:visited {
  text-decoration: none;
  color: #000000;
  cursor: none;
}

.linkOut:hover, .linkOut:active {
  text-decoration: underline;
  color: #000000;
  cursor: none;
}

@media screen and (max-width: 768px) {
    .helloBlock1 {
        width: 100%;
        height: 80%;
    }
    .helloBlock2 {
        display: none;
    }
}