.stackFrame {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.stackContainer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.stackBlock1 {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stackBlock1Holder1 {
    height: fit-content;
    width: 60%;
}

.stackBlock2 {
    width: 100%;
    float: left;
}

.stackBlock2Holder1 {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.stackFrontend {
    width: 60%;
    height: fit-content;
}

.stackBreaklineHolder {
    width: 1%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.stackBlock2Holder2 {
    width: 49%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.stackBackend {
    width: 60%;
    height: fit-content;
}

@media screen and (max-width: 768px) {
    .stackBlock1 {
        width: 100%;
        height: 40%;
        justify-content: center;
        align-items: flex-end;
    }
    .stackBlock1Holder1 {
        width: 80%;
        height: 35%;
    }
    .stackBlock2Holder1 {
        width: 100%;
        margin-top: 2em;
    }
    .stackBlock2Holder2 {
        width: 100%;
        padding-top: 2em;
        display: flex;
        justify-content: center;
    }
    .stackFrontend {
        width: 80%;
    }
    .stackBackend {
        width: 80%;
    }
}