.weatherFrame {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.weatherContainer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.weatherBlock1 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherTextHolder {
    width: 80%;
    height: fit-content;
}

.projectExt {
    margin-top: 1em;
}

.linkOut:link, .linkOut:visited {
  text-decoration: none;
  color: #000000;
}

.linkOut:hover, .linkOut:active {
  text-decoration: underline;
  color: #000000;
}

.weatherBlock2 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherImgHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .weatherBlock1 {
        width: 100%;
        height: 50%;
        align-items: flex-end;
    }
    .weatherTextHolder {
        width: 80%;
        padding-bottom: 5%;
    }
    .weatherBlock2 {
        width: 100%;
        height: 50%;
    }
    .weatherImg {
        height: 80%;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}