.weatherFrame {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.weatherContainer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.weatherBlock1 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherTextHolder {
    width: 60%;
    height: fit-content;
}

.projectExt {
    margin-top: 1em;
}

.linkOut:link, .linkOut:visited {
  text-decoration: none;
  color: #000000;
}

.linkOut:hover, .linkOut:active {
  text-decoration: underline;
  color: #000000;
}

.weatherBlock2 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherImgHolder {
    width: 100%;
    display: flex;
    justify-content: center;
}