.textTitle {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textContent {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageContainer {
  position: absolute;
  z-index: 19;
  animation: entering 0.5s none linear;
}

.pageContainerLeaving {
  opacity: 1;
  position: absolute;
  z-index: 19;
  animation: leaving 0.5s none linear;
}

@keyframes leaving {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes entering {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonsHolder {
  position: absolute;
  z-index: 29;
  top: 90%;
  width: 40%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}

.page {
  margin-left: 0.2em;
  margin-right: 0.2em;
  transition: all 0.5s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(255, 255, 255, .3);
  color: rgba(00, 00, 00, .7);
}

.pageActive {
  margin-left: 0.2em;
  margin-right: 0.2em;
  transition: all 0.5s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(255, 255, 255, .7);
  color: #000000;
}

.backgroundContainer {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  filter: blur(3em);
  background-color: rgba(0, 0, 0, 0.1);
}

.circle1 {
  background-color: #DDC4FC;
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: all 0.5s;
  top: 0px;
  animation: breathe 1s infinite ease-in-out;
}

.circle2 {
  background-color: #91C5FC;
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: all 0.5s;
  top: 0px;
  animation: breathe 5s infinite ease-in-out;
}

@keyframes breathe {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.mouseEffectBox {
  position: absolute;
  z-index: 9991;
}

.mouseEffectBox {
  pointer-events:none;
  opacity: .5;
  filter: blur(1px);
}

.mouseLayer1 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #007bff;
  position: absolute;
  z-index: 9995;
  opacity: .5;
  animation: mouseFtAnime 2s infinite ease-in-out;
}

.mouseLayer2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #7300ff;
  position: absolute;
  z-index: 9999;
  transition: all 0.01s ease-in-out;
  animation: mouseBgAnime 2s infinite ease-out;
}

@keyframes mouseFtAnime {
  0% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
  }
  35% {
    transform: scaleX(1.1) scaleY(0.9) rotate(126deg);
  }
  65% {
    transform: scaleX(0.9) scaleY(1.1) rotate(234deg);
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(360deg);
  }
}

@keyframes mouseBgAnime {
  0% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
  }
  35% {
    transform: scaleX(0.9) scaleY(1.1) rotate(-126deg);
  }
  65% {
    transform: scaleX(1.1) scaleY(0.9) rotate(-234deg);
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(-360deg);;
  }
}

@media screen and (max-width: 768px) {
  .buttonsHolder {
    width: 100%;
    margin-left: 0;
    top: 95%;
  }
}